p{
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
}
h1{
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}
h2{
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}
h3{
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

img.center{
    text-align: center;
    display: block;
    margin: 0 auto;
}