p{
    
    border: 1px solid black;
    outline: darkslateblue solid 10px;
    margin: auto;  
    padding: 50px;
    text-align: center;
    font-family: 'Biryani', sans-serif;
}
h1{
    color: black;
    font-family: 'Biryani', sans-serif;
    
}

h2{
    color: gray;
    font-family: 'Biryani', sans-serif;
}