
h1{
    color: black;
    font-size: 35px;
    font-family: 'Biryani', sans-serif;
   margin-right: 150px;
    margin-left: 150px;
    margin-top: 10px;
}

h2{
    color: gray;
    font-size:30px;
     
}
p{
    text-align: center;
}